
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

/* font-family: "Protest Strike", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(Imagem/papel\ de\ parede.jpg);
    background-size: cover;
    height: 100vh;
    place-items: center;
    display: grid;
}

.relogio{
    background-color: #00000054;
    width: 80%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    box-shadow: 3px 4px 8px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.relogio div{
    width: 30%;
    border-radius: 6px;
    padding: 1.5rem 4rem;
    box-shadow: 4px 4px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.relogio div{
    flex-direction: column;
}

.relogio div span{
    font-size: 4rem;
    color: aliceblue;
}

.relogio div span.tempo{
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
}
#date{
    background-color: rgba(0, 0, 0, 0.521);
    box-shadow: 4px 4px white;
    border-radius: 8pc;
    width: 50%;
    padding: 2rem;
    align-items: center;
    color: aliceblue;
    text-align: center;
    font-size: 3rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

@media (max-width: 600px) {
    .relogio{
        flex-direction: column;
        width: 30%;
        height: 80vh;
    }
}